@model K3F.PostalAddress.Models.LocalityRecord
@{
    Script.Require("jQuery");
}
           
@using (Html.BeginFormAntiForgeryPost())
{
<fieldset>
    @Html.LabelFor(x => x.Name, T("Name"))
    @Html.TextBoxFor(x => x.Name, new { @class = "text" })
    @Html.Hidden("Region_Id", ((int) ViewBag.Region.Id).ToString())
    <button type="submit" class="button primary-action" >@T("Save")</button>
</fieldset>
    
    
}



@using (Script.Foot())
{
    <script type="text/javascript"> $(function () {
    
    });

 </script>
}